@import url('app.css');
body{
    width: 100%;
    background-color: rgb(63 63 70);
    color:white;
}
#list{
    border: 2px solid rgb(203, 203, 203);
    min-height:30%;
    width: 100%;
    color:white;

}
.outer{
    box-shadow: 5px 5px 15px 20px  rgba(39, 39, 39, 0.69);
    height: 75vh;
}
h-10{
    height:10px;
}
.crossed-out{
    text-decoration: line-through;
}
.todo-item{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:5px;
    border: solid 1px black;
    overflow-y: scroll;
    margin: 5px 0px;
    font-size: large;
    text-transform: capitalize;
}
.left{
    display:flex;
    align-items: center;
}
.left input{
    margin-right:10px;
}
.listName{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    overflow: hidden;
    margin: 3px;;
    padding:0;
    width:95%;
    justify-content: space-between;

}
hr{
    margin:0;
}

#editAreaHere{
    position: absolute;
    bottom:175px;
    width: 100%;
}
#listHeader{
    display: flex;
    align-items: center;
}