body{
    width: 50%
}
#list{
    border: 2px solid black;
    min-height:30%;
    width: 100%;

}
button{
    height: 30px;
}
h-10{
    height:10px;
}
.flex{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: start;
}